{% func CommonNav(out map[string]string) %}

<ul class="nav navbar-nav navbar-right">
    <li>
        {% if out["username"] != "" %}
            <div style="color:white">
                欢迎 {%s out["username"] %} |
                <a href="/admin">管理后台</a> |
                <a href="/admin/addblog">发文章</a> |
                <a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> 退出</a>
            </div>
        {% else %}
            <div> <a href="/admin/login"><i class="fas fa-sign-in-alt"></i> 登录</a> </div>
        {% endif %}
        <form action="/search" method="get" style="margin-top:10px">
            <input name="keyword" value="{%s out["keyword"] %}"><input type="submit" value="搜索" class="btn btn-primary" style="margin:0px 10px">
        </form>
    </li>
</ul>
{% endfunc %}